Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2023-11, with the labels that each got.

#9 Task done and refactored readme
  task_5/README.md
  task_5/YES.md
  task_5/task.md
Labels: ✅ yes

#10 Gigacode task 5
  task_5/gigacode_task_5.md
  task_5/task.md
Labels: gigacode

#11 Citrine task 5 complete
  task_5/citrine_task_5.md
Labels: citrine

#13 Mysterious_task_5
  task_5/Mysterious_task_5.md
Labels: 🔮Mysterious

#17 Mysterious_task_6
  task_6/Mysterious_task_6.md
Labels: 🔮Mysterious

#16 Citrine task 6 complete
  task_6/citrine_task_6.md
Labels: citrine

#18 Сделано
  task_6/Yes_task_6.md
Labels: ✅ yes

#21 Mongolian tomatoes task 6
  task_6/mongolian_tomatoes_task_6.md
Labels: 🍅 mongolian_tomatoes🍅

#20 Выполнено 6 задание
  task_6/gigacode_task_6.md
Labels: gigacode

#25 Mongolian tomatoes task 7
  task_7/mongolian_tomatoes_task_7.md
Labels: 🍅 mongolian_tomatoes🍅

#23 altyn_task_5
  task_5/altyn_task_5.md
Labels: altyn

#26 Citrine task 7 added
  task_7/citrine_task_7.md
Labels: citrine

#28 Girls task 7
  task_7/girls.md
Labels: Girls🏃‍♀️💃🤸‍♀️
