Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2023-12, with the labels that each got.

#36 Gigacode task 8
  task_8/gigacode_task_8.md
Labels: gigacode

#37 Mysterious_task_8
  task_8/Mysterious_task_8.md
Labels: 🔮Mysterious

#39 Решение 8 задачи. Оптимальное расписание. Ленточная стратегия/Конвейе…
  task_8/girls_task_8.md
Labels: Girls🏃‍♀️💃🤸‍♀️

#40 Mongolian tomatoes task 8
  task_8/Mongolian_Tomatoes_task_8.md
Labels: 🍅 mongolian_tomatoes🍅

#42 Citrine task 9 added and main task updated
  task_9/citrine_task_9.md
  task_9/task.md
Labels: citrine

#43 altyn_task_7
  task_7/altyn_task_7 (2).md
Labels: altyn

#38 Задание выполнено.
  task_8/CommitIT_task_8.md
Labels: CommitIT

#46 Mongolian tomatoes task 9
  task_9/mongolian_tomatoes_task_9.md
Labels: 🍅 mongolian_tomatoes🍅

#47 Решение 9 задачи. Вариант 3. Оптимальное расписание. Лексикографическ…
  task_9/girls_task_9.md
Labels: Girls🏃‍♀️💃🤸‍♀️

#44 Add files via upload
  task_9/gigacode_task_9.md
Labels: gigacode, question

#48 Выполнено
  task_9/YES_task_9.md
Labels: ✅ yes, question

#52 Create GetBrains.md
  task_5/GetBrains.md
Labels: GetBrains

#51 altyn_task_9
  task_9/altyn_task_9.md
Labels: question, altyn

#49 Задание выполнено.
  task_9/CommitIT.md
Labels: question, CommitIT

#50 altyn_task_8
  task_8/altyn_task_8.md
Labels: altyn

#54 Create GetBrains_task_6.md
  task_6/GetBrains_task_6.md
Labels: GetBrains

#55 Create GetBrains_task_9.md
  task_9/GetBrains_task_9.md
Labels: GetBrains
