Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2024-03, with the labels that each got.

#72 14 задание
  task_14/gigacode_task_14.md
Labels: gigacode

#75 Citrine task 15 completed
  task_15/citrine_task_15.md
  task_15/task.md
Labels: citrine

#81 15
  task_15/gigacode_task_15.md
Labels: gigacode

#82 altyn
  task_15/altyn_task_15.md
Labels: altyn

#83 Простите, пожалуйста, что так долго исправляли. Надеюсь, теперь все верно.
  task_13/girls_task_13.md
Labels: Girls🏃‍♀️💃🤸‍♀️
