Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2024-05, with the labels that each got.

#86 Mysterious_task_19
  task_19/Mysterious_task_19.md
Labels: 🔮Mysterious

#88 citrine task 19 complete
  task_19/citrine_task_19.md
Labels: citrine

#91 altyn
  task_19/altyn_task_19.md
Labels: altyn

#101 GetBrains /13
  task_13/GetBrains_task_13.md
Labels: GetBrains

#97 сделали 20 задание (забыли переименовать ветку, сделано задание 20)
  task_19/Mongolian_tomatoes_task_19.md
  task_20/Mongolian_tomatoes.md
Labels: 🍅 mongolian_tomatoes🍅

#92 Решение 19 задания. Вариант №3.
  task_19/girls_task_19.md
Labels: Girls🏃‍♀️💃🤸‍♀️

#93 Mysterious_task_20
  task_20/Mysterious_task_20.md
Labels: question, 🔮Mysterious
