Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2024-02, with the labels that each got.

#59 Mongolian tomatoes task 13
  task_13/Mongolian_tomatoes.md
Labels: 🍅 mongolian_tomatoes🍅

#58 altyn_task_13
  task_13/altyn_task_13.md
Labels: altyn

#62 Citrine task 13
  task_13/citrine_task_13.md
Labels: citrine

#66 Gigacode task 13
  task_13/gigacode_task_13.md
Labels: gigacode, question

#68 Mongolian tomatoes task 14 сделали :)
  task_14/Mongolian_tomatoes_task_14.md
Labels: 🍅 mongolian_tomatoes🍅

#70 Mysterious_task_14
  task_14/Mysterious_task_14.md
Labels: 🔮Mysterious

#71 citrine task 14 complete
  task_14/citrine_task_14.md
Labels: citrine

#76 Mysterious_task_15
  task_15/Mysterious_task_15.md
Labels: 🔮Mysterious

#78 YES_task_15 ✓
  task_15/YES_task_15.md
Labels: ✅ yes
