Repository HSE-algo-23-crow/manual_tasks, pull requests merged in 2024-06, with the labels that each got.

#96 Add files via upload
  task_20/gigacode_task_20.md
Labels: gigacode

#98 Citrine task 20
  task_20/citrine.md
Labels: citrine

#100 YES_task_20
  task_20/YES_task_20.md
Labels: ✅ yes

#103 altyn
  task_20/altyn_task_20.md
Labels: altyn

#105 GetBrains /20
  task_20/Get_Brains_task_20.md
Labels: question, GetBrains

#104 Решение 20 задания. Вариант 3.
  task_20/girls_task_20.md
Labels: Girls🏃‍♀️💃🤸‍♀️

#102 GetBrains /19
  task_19/GetBrains_task_19.md
Labels: GetBrains

#107 GetBrains /15
  task_15/GetBrains_task_15.md
Labels: GetBrains

#110 Mongolian tomatoes task 22
  task_22/Mongolian_tomatoes.md
Labels: 🍅 mongolian_tomatoes🍅

#111 Mysterious_task_22
  task_22/Mysterious_task_22.md
Labels: 🔮Mysterious

#87 Задание решено.
  task_19/Commit_IT.md
  task_19/task.md
Labels: CommitIT

#113 Задание 22, вариант 3
  task_22/girls_task_22.md
Labels: Girls🏃‍♀️💃🤸‍♀️

#115 CommitIT_task_20
  task_20/CommitIT_task_20.md
Labels: CommitIT
